# Database connection
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres?schema=public"

# JWT
JWT_SECRET="secret"

### CONNECTIONS ###

# Discord
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

# GitHub
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""